@model Offer

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Cena">Cena</label>
        <input asp-for="Cena" class="form-control" required />
        <span asp-validation-for="Cena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCarId"></label>
        <select asp-for="SelectedCarId" asp-items="ViewBag.Cars" class="form-control" required></select>
        <span asp-validation-for="SelectedCarId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Opis">Opis</label>
        <input asp-for="Opis" class="form-control" />
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Utwórz Ofertę</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
